body{padding-top:30px;}


#kennet-sontag-container{
	background-color: grey;
	padding: 0px;
	margin: 0px;
	height: 700px;
}

#kennet-sontag-img{
	width: 300px;
	text-align: center;
	padding-left: 40%;
}

.kennet-sontag-p{
	padding-left: 40%;
	font-size: 20px;


.bob {
  margin-top: 50px;
}


.picture {
  margin-top: 100px;
  margin-left: 42%;
  width: 300px;
  height: 300px;
  border: 5px solid black;
  border-radius: 10px;
  background-image: url("../img/facepic.jpg");
}

#text {
  border: 5px solid black;
  border-radius: 10px;
text-align: center;
margin: 30px;



.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

