body{
	margin: 0; 
} 

.all {
	max-width: 100%; 
}

.main {
	background-color: lightgray; 
	padding: 10px; 
}

.info {
	margin-top: 20px; 
}

#Jag {
	Width: 250px;
	border: 10px solid White; 
} 

.col-sm-4 {
	padding: 0px; 
}